.myFont {
  font-family: "Roboto Mono", monospace;
}

.myImage {
  width: 10%;
}

.textOfAbout {
  margin: 25px;
  padding: 0 25px 25px 0;
  font-size: 18px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}
